/*  https://bootswatch.com/ 
    thème : minimaliste 

    autres site sympa de bootstrap
    https://materializecss.com/getting-started.html 
    
    https://bulma.io/
    
 */

.kim_perso { 
    color: red; 
    background-color: blue;
}

