
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order </h1>
    <p> You realized the order N* . </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : .
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>
