/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= 

 */
@import "bootstrap";
body {
font-family: Futura, "Trebuchet MS", Arial, sans-serif;height: 100%;

}
h1 { font-family:  'Coldiac Free Regular';
    font-size: 40px;
    text-align: center;

} 
h1,h2,h3,h4 {
    font-family: 'Coldiac Free Regular';
}
.actions {
text-align: center;
}
.field {
    text-align: center;
    }
.jumbotron {
        background-image: url("china.jpeg");
     object-fit: fill;
     color:#002F4B ;
    text-align: center;

}
.card-body {
    background-color:#f7e6a9;
    width: 100%;
    color: #002724;
    border-radius: 5px;
}
.pic1 {
    margin-left: 2.5%;
    margin-right: 5%;
    border-radius: 10px;
}



.card{
    display: flex;

    width: 300px;
    height: 200px;
}

.card-body{

padding-top: 0%;
    margin-top: 0%;
}



.card-deck{
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
}

.page-footer {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;


}
.img_card{
    width: 100%;
    height: 40%;
object-fit: cover;
    padding: 2%;
}




.card.m-2{
   height: 80%;

}

html, body {
    height: 100%;
    margin: 0; padding: 0;
}
body {
    display : table;
    width: 100%;
}
footer {
    display : table-row;
    height: 100px; /* à titre d'exemple */
}