
<div class="jumpo">
  <%= render "layouts/jumpotron" %>
</div>
<div class="activities">

  <h1>Activities</h1>
   <% if user_signed_in? %>
    <% if current_user.is_admin != nil %>
      <div class="row justify-content-center m-3">
        <%= link_to 'New Activity', new_activity_path, class: "btn btn-primary" %>
        <%= link_to 'Panel admin', admin_users_path, class: "btn btn-primary ml-4" %>
        </div>
    <% end %>
    <% end %>

  <div class="card-deck">
    <% for activity in @activities do %>
      <%= render partial: "card", locals: {activity: activity} %>
    <% end  %>
  </div>
</div>


<br>
<br>
<br>
<div id="discover_seville">
<div class="container text-light">
  <br>
  <br>
  <br>
  <h1> look this video to discover Seville!</h1>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/KXsE0qVJp_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>
  <br>
  <br>

</div>

</div>
