<%= render "layouts/jumpotron" %>






<h1>Activities</h1>






<br>

<%= link_to 'New Activity', new_activity_path %>



<div class="card-deck">
  <div class="card-columns">
  <% for activity in @activities do %>
    <%= render partial: "card", locals: {activity: activity} %>

  <% end  %>
  </div>

</div>




