<div class="jumbotron">
  <h1 class="display-4">Travel Shop</h1>
  <p class="lead">Beyond your world, is exploring!</p>
  <hr class="my-4">
  <p>Try ours activities, and bring back home some memories</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="activities/90" role="button">Learn more</a>
  </p>
</div>