<div class="jumbotron img_jumpo">
  <h1 class="display-4">Travel Shop</h1>
  <p class="lead">Beyond your world, is exploring!</p>
  <br>
  <br>
  <br>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="activities/156" role="button">Learn more</a>
  </p>
</div>