<div class="jumbotron img_jumpo">
  <h1 class="display-4">Travel Shop</h1>
  <p class="lead">Beyond your world, is exploring!</p>
  <br>
  <br>
  <br>
  <hr class="my-4">

  <p class="lead">
    <%= button_to "Learn more", activity_path(Activity.all.sample.id), method: :"get", class:"btn btn-primary" %>
  </p>
</div>