<div class="jumbotron img_jumpo">
  <br>
  <h1 class="display-4">Travel Shop</h1>
  <br>
  <hr class="my-4">
<br>
<br>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button">to nowhere</a>
  </p>
</div>