<!doctype html>

<head>
  <meta charset="utf-8">
  <title>TravelShop</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/c383017b85.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="bootstrap.css" />
  <script src="script.js"></script>
</head>
<body>

</body>
</html>